@media (min-width: 300px) and (max-width: 576px) {
    header{
      padding: 5px 20px;
    }
    header.sticky {
      padding: 5px 20px;
    }
    header .brand {
      font-size: 20px;
      font-weight: 500;
    }
    header .navigation a {
      font-size: 14px;
      font-weight: 400;
      color: #000;
      font-size: 22px;
      margin: 10px;
      padding: 0 20px;
      border-radius: 20px;
    }
    header .navigation a:hover {
      background: crimson;
      color: #fff;
    }
    .menu-btn {
      position: absolute;
      background: url(./images/menu.png) no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      right: 0;
      margin: 0 20px;
      cursor: pointer;
      transition: 0.4s ease;
      color: black;
    }
    .menu-btn.active {
      z-index: 999;
      background: url(./images/close.png) no-repeat;
      background-size: 25px;
      background-position: center;
      transition: 0.3s ease;
      filter: invert(1);
    }
    section {
      padding: 50px;
    }
    .main {
      width: 700px;
    }
    .main .content {
      max-width: 300px;
    }
    .main .content h2 span {
      font-size: 40px;
      font-weight: 400;
    }
    .animated-text {
      height: 50px;
    }
    .animated-text h3 {
      font-size: 30px;
      font-weight: 500;
      line-height: 50px;
    }
}